{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
<meta name="keyword" content="">
    <title>Document</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  

<script type="text/javascript">
   // Set the title tag dynamically
   document.title = "AI Fusion | Image Enhancement";
 
   // Set meta tags for description and keywords
   var metaDescription = document.createElement("meta");
   metaDescription.setAttribute("name", "description");
   metaDescription.setAttribute("content", "Free Industry level standard html , css template free of cost");
   document.head.appendChild(metaDescription);
 
   var metaKeywords = document.createElement("meta");
   metaKeywords.setAttribute("name", "keywords");
   metaKeywords.setAttribute("content", "Html Template, Best Css templates ,E-commerce Template, Startup Template");
   document.head.appendChild(metaKeywords);
 </script>
 
 
 <script type="application/ld+json">
   {
     "@context": "http://schema.org",
     "@type": "Service",
     "name": "Website Template",
     "image": "{% static 'img/aiyes.webp' %}",
     "description": "Best Html Css free Template for e-commerce, port-folio, and any startups",
     "provider": {
       "@type": "Company",
       "name": "AI Fusion"
     },
     "serviceType": "Website Template",
   }
   </script>
   
<style>
   .sidebar ~ .mainhomecontent {
   margin-left: 260px;
   transition: width 0.3s ease, padding 0.3s ease;

}

.sidebar.close ~ .mainhomecontent  {
   margin-left:  80px;
   transition: width 0.3s ease, padding 0.3s ease;
}
@media (max-width: 750px) {
   .sidebar.close ~ .mainhomecontent {
     margin-left:  0px;
    /* transition: width 0.3s ease, padding 0.3s ease; */
   }
}
</style>
</head>
<body>

    

   {% include 'navbar.html'%}

<main class="mainhomecontent">
    <section >
        <div class="banner-main">
           <!-- <img src="{% static 'img/scholarship.png' %}" alt="#"/> -->
           <div class="container">
              <div class="text-bg">
                 <h1>Business <strong class="white"> Calculator </strong></h1>
                 <div class="button_section"> <a class="main_bt" href="#">Read More</a>  </div>
                 <div class="container">
                    <form class="main-form"  method="post"   action="{% url 'business_calculator' %}">
                    {% csrf_token %}
                       <h3>Find Your Tour</h3>
                       <div class="row">
                          <div class="col-md-9">
                             <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                 <label for="rent">Rent:</label>
                                 <input class="form-control" type="number" name="rent" value="0" required>
                                </div>


                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                 <label for="salaries">Salaries:</label>
                                 <input class="form-control" type="number" name="salaries" value="0" required>
                         
                                </div>



                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                 <label for="insurance">Insurance:</label>
                                 <input class="form-control" type="number" name="insurance" value="0" required>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                 <label for="marketing_budget">Marketing Budget:</label>
                                 <input class="form-control" type="number" name="marketing_budget" value="0" required>
                                </div>


                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                 <label for="tax_planning">Tax Planning:</label>
                                 <input class="form-control" type="number" name="tax_planning" value="0" required>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                 <label for="legal_and_compliance_costs">Legal and Compliance Costs:</label>
                                 <input class="form-control" type="number" name="legal_and_compliance_costs" value="0" required>
                                </div>
                                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                   <label >Category</label>
                                   <select class="form-control" name="Any">
                                      <option>Any</option>
                                      <option>Option 1</option>
                                      <option>Option 2</option>
                                      <option>Option 3</option>
                                   </select>
                                </div> -->
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                 <label for="emergency_funds">Emergency Funds:</label>
                                 <input class="form-control" type="number" name="emergency_funds" value="0" required>
                               </div>
                               
                             </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <input type="submit" value="Calculate">
                             
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </section>






    <!-- <form method="post" action="{% url 'business_calculator' %}">

        <label for="rent">Rent:</label>
        <input type="number" name="rent" value="0" required><br>

        <label for="salaries">Salaries:</label>
        <input type="number" name="salaries" value="0" required><br>

        <label for="insurance">Insurance:</label>
        <input type="number" name="insurance" value="0" required><br>

        <label for="marketing_budget">Marketing Budget:</label>
        <input type="number" name="marketing_budget" value="0" required><br>

        <label for="tax_planning">Tax Planning:</label>
        <input type="number" name="tax_planning" value="0" required><br>

        <label for="legal_and_compliance_costs">Legal and Compliance Costs:</label>
        <input type="number" name="legal_and_compliance_costs" value="0" required><br>

        <label for="emergency_funds">Emergency Funds:</label>
        <input type="number" name="emergency_funds" value="0" required><br>


    </form> -->








    {% if result %}
    <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

        <p>Total Expenses: $ </p>

        {% for message in result.warning_messages %}
            <p style="color: red;">{{ message }}</p>
        {% endfor %}
      </div>
      <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

        <p>Emergency Fund for Rent, Salaries, and Insurance: $</p>
      </div>

    {% endif %}

    <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

    {% if "rent" in warning_messages %}
        <h1>This is for rent</h1>
    {% endif %}
   </div>
   <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

    {% if "salaries" in warning_messages %}
        <h1>This is for salaries</h1>
    {% endif %}
   </div>

    <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

    {% if "insurance" in warning_messages %}
        <h1>This is for insurance</h1>
    {% endif %}
   </div>

    <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

    {% if "legal_and_compliance_costs" in warning_messages %}
        <h1>This is for legal and compliance costs</h1>
    {% endif %}
   </div>

    <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

    {% if "tax_amount" in warning_messages %}
        <h1>This is for tax planning</h1>
    {% endif %}
   </div>


</main>
    
</body>
</html>