{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta name="description" content="">
    <meta name="keyword" content="">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script type="text/javascript">
    // Set the title tag dynamically
    document.title = "AI Fusion | Compound Interest Calculator";
  
    // Set meta tags for description and keywords
    var metaDescription = document.createElement("meta");
    metaDescription.setAttribute("name", "description");
    metaDescription.setAttribute("content", "Calculate Compounded Investment");
    document.head.appendChild(metaDescription);
  
    var metaKeywords = document.createElement("meta");
    metaKeywords.setAttribute("name", "keywords");
    metaKeywords.setAttribute("content", "Compound Interest Calculator,Compound Investment Calculator");
    document.head.appendChild(metaKeywords);
  </script>
  
  
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Service",
      "name": "Compound Interest Calculator",
      "image": "{% static 'img/aiyes.webp' %}",
      "description": "Calculate Compounded Investment",
      "provider": {
        "@type": "Company",
        "name": "AI Fusion"
      },
      "serviceType": "Compound Interest Calculator",
    }
    </script>
    
<style>
    .sidebar ~ .mainhomecontent {
    margin-left: 260px;
    transition: width 0.3s ease, padding 0.3s ease;
 
 }
 
 .sidebar.close ~ .mainhomecontent  {
    margin-left:  80px;
    transition: width 0.3s ease, padding 0.3s ease;
 }
 @media (max-width: 750px) {
    .sidebar.close ~ .mainhomecontent {
      margin-left:  0px;
     /* transition: width 0.3s ease, padding 0.3s ease; */
    }
 }
 </style>
</head>
<body>
    {% include 'navbar.html'%}
    
<main class="mainhomecontent">
    <section >
        <div class="banner-main">
           <!-- <img src="{% static 'img/scholarship.png' %}" alt="#"/> -->
           <div class="container">
              <div class="text-bg">
                 <h1>Business <strong class="white"> Compound Calculator </strong></h1>
                 <div class="button_section"> <a class="main_bt" href="#">Read More</a>  </div>
                 <div class="container">
                    <form class="main-form"  method="post"   >
                    {% csrf_token %}
                       <h3>Find Your Compounded Money</h3>
                       <div class="row">
                          <div class="col-md-9">
                             <div class="row">
                            
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">

                                <label for="principal_amount">Principal Amount:</label>
                                <input  class="form-control" type="number" id="principal_amount" name="principal_amount" step="any" required>
                            </div>
                                
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="monthly_investment">monthly_investment</label>
                                <input  class="form-control" type="number" id="monthly_investment" name="monthly_investment" step="any" required>
                            </div>
                                
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="interest_rate">Interest Rate (%):</label>
                                <input  class="form-control" type="number" id="interest_rate" name="interest_rate" step="any" required>
                            </div>
                                
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="time_years">Time (in years):</label>
                                <input  class="form-control" type="number" id="time_years" name="time_years" step="any" required>
                            </div>
                              


                                
                                
                               
                             </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
                            <button type="submit">Calculate</button>
                             
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </section>

        <!-- <h2>Compound Interest Calculator</h2>
    
        <form method="post">
            {% csrf_token %}
            <label for="principal_amount">Principal Amount:</label>
            <input type="number" id="principal_amount" name="principal_amount" step="any" required><br><br>
            
            <label for="monthly_investment">monthly_investment</label>
            <input type="number" id="monthly_investment" name="monthly_investment" step="any" required><br><br>
            
            <label for="interest_rate">Interest Rate (%):</label>
            <input type="number" id="interest_rate" name="interest_rate" step="any" required><br><br>
            
            <label for="time_years">Time (in years):</label>
            <input type="number" id="time_years" name="time_years" step="any" required><br><br>
            
            <button type="submit">Calculate</button>
        </form> -->
        
        <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">
            {% if annually_result %}
            <p>Compound Amount: ${{ compound_result }}</p>
        {% endif %}
          </div>
      
          <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">
            <h1>Monthly </h1>
    {% if result %}
            <p>Compound Amount: ${{ result }}</p>
        {% endif %}
          </div>
        </main>
</body>
</html>