{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   <meta name="description" content="">
   <meta name="keyword" content="">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script type="text/javascript">
      // Set the title tag dynamically
      document.title = "AI Fusion | Emergency Fund Calculator";
    
      // Set meta tags for description and keywords
      var metaDescription = document.createElement("meta");
      metaDescription.setAttribute("name", "description");
      metaDescription.setAttribute("content", "Emergency Fund Calculator ");
      document.head.appendChild(metaDescription);
    
      var metaKeywords = document.createElement("meta");
      metaKeywords.setAttribute("name", "keywords");
      metaKeywords.setAttribute("content", "Investment Calculators, Business Calculator");
      document.head.appendChild(metaKeywords);
    </script>
    
    
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Service",
        "name": "Emergency Fund Calculator",
        "image": "{% static 'img/aiyes.webp' %}",
        "description": "Emergency Fund Calculator",
        "provider": {
          "@type": "Company",
          "name": "AI Fusion"
        },
        "serviceType": "Emergency Fund Calculator",
      }
      </script>
      
<style>
    .sidebar ~ .mainhomecontent {
    margin-left: 260px;
    transition: width 0.3s ease, padding 0.3s ease;
 
 }
 
 .sidebar.close ~ .mainhomecontent  {
    margin-left:  80px;
    transition: width 0.3s ease, padding 0.3s ease;
 }
 @media (max-width: 750px) {
    .sidebar.close ~ .mainhomecontent {
      margin-left:  0px;
     /* transition: width 0.3s ease, padding 0.3s ease; */
    }
 }
 </style>
</head>
<body>

    {% include 'navbar.html'%} <br> <br><br>
    <main class="mainhomecontent">

    <h2>Finance Calculator</h2>

    <section >
        <div class="banner-main">
           <!-- <img src="{% static 'img/scholarship.png' %}" alt="#"/> -->
           <div class="container">
              <div class="text-bg">
                 <h1>Business <strong class="white"> Calculator </strong></h1>
                 <div class="button_section"> <a class="main_bt" href="#">Read More</a>  </div>
                 <div class="container">
                    <form class="main-form"  method="post"  >
                    {% csrf_token %}
                       <h3>Find Your Tour</h3>
                       <div class="row">
                          <div class="col-md-9">
                             <div class="row">
                            
                                <!-- <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="other_costs">Other Costs:</label>
                                    <input type="number" id="other_costs" name="other_costs" required>
      </div>
                             -->
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="down_payment_percent">Down Payment (%):</label>
                                    <input type="number" id="down_payment_percent" name="down_payment_percent" required>
      </div>
                            
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="interest_rate">Interest Rate (%):</label>
                                    <input type="number" id="interest_rate" name="interest_rate" required>
      </div>
                            
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="property_tax_percent">Property Taxes (%):</label>
                                    <input type="number" id="property_tax_percent" name="property_tax_percent" required>

      </div>
                            
                                    
                                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
                                    <label for="home_insurance">Home Insurance:</label>
                                    <input type="number" id="home_insurance" name="home_insurance" required>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12">
        
        <label for="other_costs">Other Costs:</label>
        <input type="number" id="other_costs" name="other_costs" required>
</div>            


                                
                                
                               
                             </div>
                          </div>
                          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
            <input type="submit" value="Calculate">
                             
                          </div>
                       </div>
                    </form>
                 </div>
              </div>
           </div>
        </div>
     </section>


    

        <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">
            {% if mortgage_payment or total_monthly_cost %}
            <h2>Results:</h2>      
          </div>
        
          <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">
    
         
            {% if mortgage_payment %}
                <p>Mortgage Payment: ${{ mortgage_payment|floatformat:2 }}</p>
            {% endif %}
    </div>
    <div class="d-flex p-2" style="font-size: larger; font-weight: bold;">

            {% if total_monthly_cost %}
                <p>Total Monthly Cost: ${{ total_monthly_cost|floatformat:2 }}</p>
            {% endif %}
        {% endif %}

  
    </div>

 
    </main>
    <!-- <form method="post">
        {% csrf_token %}
        <label for="home_price">Home Price:</label>
        <input type="number" id="home_price" name="home_price" required><br><br>
        
        <label for="down_payment_percent">Down Payment (%):</label>
        <input type="number" id="down_payment_percent" name="down_payment_percent" required><br><br>
        
        <label for="loan_term_years">Loan Term (in years):</label>
        <input type="number" id="loan_term_years" name="loan_term_years" required><br><br>
        
        <label for="interest_rate">Interest Rate (%):</label>
        <input type="number" id="interest_rate" name="interest_rate" required><br><br>
        
        <label for="property_tax_percent">Property Taxes (%):</label>
        <input type="number" id="property_tax_percent" name="property_tax_percent" required><br><br>
        
        <label for="home_insurance">Home Insurance:</label>
        <input type="number" id="home_insurance" name="home_insurance" required><br><br>
        
        <label for="other_costs">Other Costs:</label>
        <input type="number" id="other_costs" name="other_costs" required><br><br>
        
        <input type="submit" value="Calculate">
    </form> -->
    
 
</body>
</html>